<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>189050028188-3dtthnubu0s0tpuc22qctq3amvo0hvai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189050028188-3dtthnubu0s0tpuc22qctq3amvo0hvai</string>
	<key>API_KEY</key>
	<string>AIzaSyCTaoh2qYV0EeFSop8LiQUOM8r1o5Kq66Q</string>
	<key>GCM_SENDER_ID</key>
	<string>189050028188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diegomsilva.ynsapp</string>
	<key>PROJECT_ID</key>
	<string>youpernotificationsystem</string>
	<key>STORAGE_BUCKET</key>
	<string>youpernotificationsystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189050028188:ios:ef9b2fe6a734ca0e</string>
	<key>DATABASE_URL</key>
	<string>https://youpernotificationsystem.firebaseio.com</string>
</dict>
</plist>