<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>YNS App</title>

  <link rel="manifest" href="manifest.json">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/animations.css" rel="stylesheet">
  <link href="css/globals.css" rel="stylesheet">
  <link href="css/main-page.css" rel="stylesheet">
  <link href="css/notifications-modal.css" rel="stylesheet">

  <!-- Project dependencies -->
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-storage.js"></script>
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/cordova/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>

  <!-- YNS App's js -->
  <script src="js/app.js"></script>

  <script src="js/utils/config-utils.js"></script>
  <script src="js/utils/math-utils.js"></script>
  <script src="js/utils/msg-utils.js"></script>
  <script src="js/utils/log-utils.js"></script>

  <script src="js/services/notification-service.js"></script>
  <script src="js/presenters/notification-presenter.js"></script>

  <script src="js/pages/main-page-controller.js"></script>
  <script src="js/components/image-picker-controller.js"></script>
  <script src="js/components/notifications-controller.js"></script>
</head>

<!-- Main Page -->

<body ng-app="YnsApp" ng-controller="MainPageController" class="page">

  <div class="page-header">
    <div ng-controller="ImagePickerController" class="left-container">
      <img ng-click="openImagePicker()" id="profile-img" class="profile-img" src="img/ico-profile.svg">
    </div>
    <div class="right-container">
      <img ng-click="openNotificationsModal()" id="notifications-img" class="notifications-img" src="img/ico-notification.svg">
      <div id="new-notification-indicator" class="new-notification-indicator hidden"></div>
    </div>
  </div>

  <div class="page-body">
    <!-- ... -->
  </div>

</body>
<!-- ./Main Page -->

<!-- Notifications Modal -->
<script ng-controller="NotificationsController" id="notifications.html" type="text/ng-template">

  <div class="modal page">

    <div class="page-header">
      <div class="left-container">
        <img ng-click="closeNotificationsModal()" class="back-img enabled" src="img/ico-left-arrow.svg">
      </div>
    </div>

    <div class="page-body">
      <ion-view>
        <ion-content overflow-scroll="true">
          <div class="list list-notifications" >
            <div class="list-notifications-item" ng-repeat="notification in notifications">
              <div ng-click="expandListItem(notification.firebaseUid)" id="{{ 'notification-shrink-' + notification.firebaseUid }}" class="shrinked-indicator" ng-show="notification.new" class="ng-hide"></div>
              <div ng-click="expandListItem(notification.firebaseUid)" id="{{ 'notification-' + notification.firebaseUid }}" class="notification-content shrinked">
                <small>{{notification.time}}</small>
                <h2>{{notification.title}}</h2>
                <ng-bind-html class="description" ng-bind-html="notification.body"></ng-bind-html>
                <button ng-click="closeMsg(notification.firebaseUid)" class="confirm-button">Got it</button>
              </div>
            <div>
          </div>
        </ion-content>
      </ion-view>
    </div>

    <div id="empty-list-notifications" class="empty-list-notifications" ng-show="isListNotificationsEmpty">
      <h2>{{msgEmptyList.title}}</h2>
      <ng-bind-html class="description" ng-bind-html="msgEmptyList.msg"></ng-bind-html>
      <button ng-click="closeNotificationsModal()" class="confirm-button">Got it</button>
    </div>

  </div>

</script>
<!-- ./Notifications Modal -->

</html>